<!doctype html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<%- include('components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "WT: Calendar",
			Description: "",
			Url: "",
			Thumbnail: "",
		}
	}); %>
	<link rel="stylesheet" href="Pages/Calendar/Calendar.css">
</head>

<body class="dark">
	<%- include('components/Background'); %>

	<div class="content">
		<!-- shared common header -->
		<%- include('components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('components/Header'); %>

		<div class="calendar">

			<div class="calendarTop glass frosted">
				<div class="left">
					<button onclick="CurrentMonth()" class="glass frosted rounded">Today</button>
					<button onclick="PreviousMonth()" class="changeMonth">
						<span class="material-icons">arrow_back_ios</span>
					</button>

					<button onclick="NextMonth()" class="changeMonth">
						<span class="material-icons">arrow_forward_ios</span>
					</button>
				</div>

				<h3 id="currentCalendar"></h3>

				<div class="right">
					<button onclick="CreateEventPopup()" class="create positive rounded shaded sheen">
						<h4 class="positive">Create</h4>
					</button>
				</div>
			</div>

			<table id="calendarHolder" class="glass frosted">

			</table>
		</div>

		<%- include('components/PopupHolder'); %>

		<script src="Pages/Calendar/Calendar.js"></script>
	</div>

	<!-- Shared common loader -->
	<%- include('components/Loader'); %>
</body>
</html>