<!doctype html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "WT: Clocks",
			Description: "",
			Url: "",
			Thumbnail: "",
		}
	}); %>
	<link rel="stylesheet" type="text/css" href="Shared/Optinal/Clock.css">
	<link rel="stylesheet" type="text/css" href="Shared/Optinal/CardHolder.css">
	<script src="Shared/Optinal/TimeUtility.js"></script>
	<script src="Shared/Optinal/ClockFace.js"></script>
</head>

<body class="dark">
	<%- include('Components/Background'); %>

	<div class="content">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('Components/Header'); %>

		<div class="centeredFrame">
			<h1 class="center">World Clocks</h1>
		</div>

		<div id="clockHolder">
		</div>
		<script src="Pages/Clocks/Clock.js"></script>

		<div class="center">
			<button class="addButton shaded" onclick= "AddClock('New Clock', 0)"></button>
		</div>

		<%- include('Components/PopupHolder'); %>

		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>
	</div>

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
</body>
</html>