<!doctype html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<%- include('components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "WellTimed",
			Description: "",
			Url: "",
			Thumbnail: "",
		}
	}); %>

	<link rel="stylesheet" href="Shared/Optinal/Clock.css">
	<script src="Shared/Optinal/TimeUtility.js"></script>
	<script src="Shared/Optinal/ClockFace.js"></script>
</head>

<body class="dark">
	<%- include('components/Background'); %>
	<link rel="stylesheet" href="Pages/Home/HomePage.css">

	<div class="content">
		<!-- shared common header -->
		<%- include('components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('components/Header'); %>

		<section id="homeCover">
			<section id="homeLeftSide">
				<h1 id="homeTitle"> Well Timed </h1>
				<h2 id="homePhrase">
					To Save, <br>
					Your Time
				</h2>

				<button id="homeCreateAccount" class="rounded shaded sheen" onclick="CreateAccountPopup()">
					<h4>Signup Now</h4>
				</button>

				<div id="learnAboutTeam">
					<div class="teamIcons">
						<img src="Assets/TeamIcons/TeamMember6.png">
						<img src="Assets/TeamIcons/TeamMember5.png">
						<img src="Assets/TeamIcons/TeamMember4.png">
						<img src="Assets/TeamIcons/TeamMember3.png">
						<img src="Assets/TeamIcons/TeamMember2.png">
						<img src="Assets/TeamIcons/TeamMember1.png">
					</div>

					<a href="/about">Learn About the Team!</a>
				</div>
			</section>

			<section id="homeRightSide">
				<div id="homeClock1" class="clock glass frosted">
					<div id="homeClock1_SecondsHand" class="hand second"></div>
					<div id="homeClock1_MinutesHand" class="hand minute"></div>
					<div id="homeClock1_HoursHand" class="hand hour"></div>
					<div class="hand dot"></div>
					<div class="markers">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div id="homeClock2" class="clock glass frosted">
					<div id="homeClock2_SecondsHand" class="hand second"></div>
					<div id="homeClock2_MinutesHand" class="hand minute"></div>
					<div id="homeClock2_HoursHand" class="hand hour"></div>
					<div class="hand dot"></div>
					<div class="markers">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<script src="Pages/Home/HomePage.js"></script>
			</section>
		</section>

		<%- include('components/PopupHolder'); %>

	</div>

	<!-- Shared common loader -->
	<%- include('components/Loader'); %>
</body>
</html>