<!doctype html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "WT: Timeline",
			Description: "",
			Url: "",
			Thumbnail: "",
		}
	}); %>
	<link rel="stylesheet" href="Pages/Timeline/Timeline.css">
	<script src="Shared/Optinal/TimeUtility.js"></script>
</head>

<body class="dark">
	<%- include('Components/Background'); %>

	<div class="content">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('Components/Header'); %>

		<h1 class="center">Timelines</h1>

		<div id="timeLinesHolder">

			<div id="currentTimeMarker" class="timeMarker shaded">
				<h4 class="center">12:12</h4>
				<p class="center">Current Local Time</p>
				<div class="markerLine"></div>
			</div>

			<div id="predictedTimeMarker" class="timeMarker shaded">
				<span class="material-icons">drag_indicator</span>
				<div>
					<h4 class="center">12:12</h4>
					<p class="center">Local Time</p>
				</div>
				<div class="markerLine"></div>
			</div>

			<div id="timeZoneHolder">
			</div>
		</div>
		<script src="Pages/Timeline/Timeline.js"></script>

		<%- include('Components/PopupHolder'); %>

		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>
	</div>

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
</body>
</html>