<!doctype html>
<html lang="en">

<!-- Metadata about the page itself for search engines -->
<head>
	<%- include('Components/Head', {
		PageData: PageData,
		HeadData: {
			Title: "WT: About",
			Description: "",
			Url: "",
			Thumbnail: "",
		}
	}); %>
</head>

<body class="dark">
	<%- include('Components/Background'); %>

	<div class="content">
		<!-- shared common header -->
		<%- include('Components/AccessibilityHelper'); %>

		<!-- shared common header -->
		<%- include('Components/Header'); %>

		<div class="centeredFrame">
		</div>

		<%- include('Components/PopupHolder'); %>

		<!-- Shared common footer -->
		<%- include('Components/Footer'); %>
	</div>

	<!-- Shared common loader -->
	<%- include('Components/Loader'); %>
</body>
</html>